.title {
    font-size: 4rem;
    font-family: "Kalam";
    background: linear-gradient(to right,
        #E40303 0% 10%, #FF8C00, #FFED00, #008026, #24408E, #732982 90% 100%);
    background-clip: text;
    color: transparent;
    display: inline;
    margin: 1rem;
}

.github-icon img {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    height: 3rem;
    width: 3rem;
    transition: 0.3s;
}

.github-icon img:hover {
    filter: drop-shadow(0 0 1rem purple);
}
