.title {
    font-size: 5rem;
    background: linear-gradient(to right,
        #E40303 0% 10%, #FF8C00, #FFED00, #008026, #24408E, #732982 90% 100%);
    background-clip: text;
    color: transparent;
    display: inline;
    margin: 1rem;
}

.header {
    color: red;
}
