@font-face {
    font-family: "Expletus Sans";
    src:
        local("Expletus Sans"),
        url("/assets/fonts/ExpletusSans-Regular.ttf");
}

@font-face {
    font-family: "Kalam";
    src:
        local("Kalam"),
        url("/assets/fonts/Kalam-Regular.ttf");
}

@font-face {
    font-family: "Playwrite Italia Moderna";
    src:
        local("Playwrite Italia Moderna"),
        url("/assets/fonts/PlaywriteITModerna-Regular.ttf");
}
