.sqlite-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 8px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.sqlite-navbar input[type="button"] {
    flex: 0 0 auto;
    padding: 6px 12px;
    font-size: 15px;
    cursor: pointer;
    background-color: #c0acd6;
    color: #222;
    border: none;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.sqlite-navbar input[type="button"]:hover {
    background-color: #b58fd3;
}

.sqlite-navbar input[type="button"]:active {
    transform: scale(1.05);
}

.sqlite-navbar input[type="search"] {
    flex: 1 1 auto;
    min-width: 100px;
    padding: 7px 12px;
    font-size: 16px;
    border: 1px solid #888;
    border-radius: 5px;
    background-color: #f5f5ff;
}

.sqlite-navbar input[type="search"]:focus {
    outline: none;
}

.table {
    background: white;
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 65%;
}

.table th {
    background: white;
    border: 1px solid black;
    padding: 10px;
}

.table td {
    background: white;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    vertical-align: middle;
}

.table tr:hover td {
    background: #ddd;
    transition: background ease-in-out 0.15s;
}
