@import "fonts.css";
@import "navbar.css";
@import "home.css";
@import "library.css";
@import "guides.css";

body * {
    user-select: none;
}

html {
    height: 100%;
    min-height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #FBC2EB, #A6C1EE);
    z-index: -1;
}

section {
    scroll-margin-top: 100px;
    padding-bottom: 50px;
}
