.selector {
    height: 1.6rem;
    width: 10rem;
    background-color: #FFFFFFDD;
    color: #333;
    border: none;
    border-radius: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    font-family: "Expletus Sans";
}

.filter {
    height: 1.5rem;
    width: 20rem;
    border: none;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    font-weight: 300;
    font-family: "Expletus Sans";
}

table.table {
    font-family: "Playwrite Italia Moderna";
    width: 95%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    font-size: 0.8rem;
    color: #333;
    background-color: #FFF;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.table thead {
    font-weight: bold;
    background-color: #F4F4F4;
    color: #333;
}

.table th {
    background-color: #F4F4F4;
    text-align: left;
    padding: 0.75em;
    border-bottom: 2px solid #DDD;
    color: #333;
}

.table td {
    padding: 0.75em;
    border-bottom: 1px solid #EEE;
}

.table tr:nth-child(even) {
    background-color: #F6F6F6;
}

.table tbody tr:hover {
    background-color: #F1F1F1;
}

.table td, th {
    word-wrap: break-word;
}

.table a {
    color: #333;
}
