* {
    overflow-x: hidden;
    font-family: system-ui;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

html {
    height: 100%;
    background: rosybrown;
}

body {
    text-align: center;
}

h1 {
    position: relative;
    display: block;
    color: #E40303;
    text-shadow: 5px 5px #FF8C00, 10px 10px #FFED00, 15px 15px #008026, 20px 20px #24408E, 25px 25px #732982;
    font-size: 70px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

footer {
    margin: 10px;
    color: #222;
    font-size: 20px;
}

#filterbox {
    width: 80%;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 12px;
}

.link-container {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.link-button {
    background-color: #d4586b;
    color: #f0f0f0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.link-button:hover {
    background-color: #e4586b;
    color: #f0f0f0;
}

.library-container {
    display: inline-block;
    margin: 7px;
    position: relative;
}

.library-image {
    width: 280px;
    height: 400px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    position: relative;
}

.library-info {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    background: #fff;
    color: #333;
    padding: 7px;
    width: 286px;
    border: none;
    border-radius: 0 0 7px 7px;
    left: 0;
    bottom: 3px;
    text-align: left;
}

.library-image:hover+.library-info {
    opacity: 1;
}