* {
    font-family: system-ui;
    font-size: 16px;
    user-select: none;
}

html {
    background: sandybrown;
    height: 100%;
}

.title {
    color: #E40303;
    text-shadow: 5px 5px #FF8C00, 10px 10px #FFED00, 15px 15px #008026, 20px 20px #24408E, 25px 25px #732982;
    text-align: center;
    font-size: 70px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: indianred;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 200px;
    color: #2E2E2E;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h3 {
    font-size: 1.2em;
    text-align: center;
}

.card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
}

.card a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}
